entrypoint = "README.md"
modules = ["nodejs-22", "javascript", "postgresql-16"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run expo:static:build && npm run server:build"]
run = ["npm", "run", "server:prod"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 80

[env]
PORT = "5000"

[agent]
stack = "EXPO"
integrations = ["javascript_database:1.0.0", "resend:1.0.0", "github:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start App"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Frontend"

[[workflows.workflow]]
name = "Start App"
author = "agent"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Frontend"

[[workflows.workflow]]
name = "Start Backend"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server:dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Start Frontend"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PACKAGER_PROXY_URL=https://$REPLIT_DEV_DOMAIN REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN EXPO_PUBLIC_DOMAIN=$REPLIT_DEV_DOMAIN npx expo start --localhost --clear"
waitForPort = 8081

[userenv]

[userenv.shared]
FIREBASE_PROJECT_ID = "forsa-a1b1a"
FIREBASE_CLIENT_EMAIL = "firebase-adminsdk-fbsvc@forsa-a1b1a.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY = """
-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCxE7JpJ37pGTSB
SMHb8qKbj16PH/00AenNaXpINayTEGjDuCDoPEhh7DRgFUqZlhiPYFIQX5kQMQWx
YQZ83aX7mgnh25hFbgnxqe1Q8qkVxxMtq1pIV3pk8t29MMmfnuqa/4UhHJ18/Bjn
Exi/oQtKl567Ad68b44Xex8yY7guqOX/29BUkY4nCsZg09KraQtDmk5xI2cF2GEa
Ftt6ELv1COkMwSxVavNQzopF9IdExHgI5cpk+TpOhGPNFwc4yCjviCriJ9beOYCf
Cuqo8r3nedtVnr5S/npEdUyctSIseiTkJcALNCwAprZbEvKnvWJnpasaO78173Co
ypzoHz/RAgMBAAECggEAOx5QWjsNa9U2alNYJY6EK1taPn53kn1xCVtFsAX7b73y
vCUlF2PI5qhtdAanuU8bNAL8YusHtxgmxmmWOOnnGHD9C6K827E5MK2CxZu+R78G
8CBdK/nIqxtKXHeFWP09ZjIYyE09ZxTjW4JMqO2jT2v/Wn/tVQwJbF12tOQGAc1j
YcEyr+ONJT0lh7K3h952p38J1gYZj5wsvHVbBm1B9E6tJynTWptj7OXF3yapbvYD
v9wUZQ0XB0hCC7Jwq0WFXBPZabtjXSGK13HnrSdmUkCGs9kIFFH8cXrq8MwUzknW
ej9EpgtfajtOf3IcSjkw15EbjZHWRY9MqjMvExiC4QKBgQDgHtyeq3R0PsFah0kX
3M8PcRRyFy3kxU3J9FtsVU++viaa0jJ2s38FB+ISH6THILrVElLD1IKM6cM6h5f7
MVT6SqS211G2wzccTX0RFpAbzNSCjaILL7g2rwnt+qPMyVupN4aLL52xzfq5rJEY
E2Mt/+imnDcPj6dssSA5dva1RwKBgQDKQ8lSOKAVl6tLyAkZyEKTwusfN5uoABOS
dbyoMjqqo7wxVMcfKcCEUxs816Ic7Xl1Z3WtuSmwbmdhwq67jwGK6puAzOjhMwHs
lztNvgOuQMFSjWVM3MS17JHhuaquR+WcewocvXKoXxnF5IIXRrFP0lPd2a9G0q1E
KRbDl0JOJwKBgDwhK5HKcFkLyTZvm3WygT8kWJbvjxmUsfUgATNEhDupqpPZFz7v
k4GXBtlT8hKWvmmSG/B8YHZL9VwLqwPyzVjFlAGWLU86etu2Enr2Mb2zq8RHGZWk
vOi295QIrc+wqk3xHsDTCpz8pWsRWHA8K1zZDuM8gC1Fnmaz8vBX8YLbAoGAVVz0
e2HwlgxTvADpblspVgk+iAdFB0s492f/PhEs11WRGFTKUOmjGXWlmjD7dy/2Qclv
TelGofKGaSjr67Z4FTPceyh/5INNfZd57N6T2Rf1PyzzotPNpWX5T4W3diRb0IXR
B74gxNSWIQHGsaIhNSn0QT4dDkvd2lVpCRUuY6MCgYEA27Yu0vBBFkwBm1QrWYou
Rt2l50sd7VI0FNNBeRiqBw9DK1B+ezRNGwcFzYzY/+5Ubq3T6XwpyQ2gU5uBy1mV
xCRTvPi1Dj9Ve+RJlPLOqfl4Gil7mVLYt63PAAXOwctGniZk+7EcDo0Aj6AquhY+
uJD2IGGxpNKJk4Sa7CvjjSI=
-----END PRIVATE KEY-----
"""
